.info {
	-fx-background-radius: 5px;
	-fx-background-color: rgba(0,0,0,0.2);
}

.info > Label {
	-fx-background-color: #fff;
	-fx-padding: 10px;
}

.btn {
	-fx-border-radius: 4px;
	-fx-background-radius: 4px;
	-fx-background-color: #3273dc;
	-fx-text-fill: #fff;
	-fx-border-color: #007bff;
	-fx-padding: 8px 12px;
	
}

.btn:hover {
	-fx-background-color: #276cda;
	-fx-border-color: #0062cc;
}
